.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-10 {
  margin-right: 10px;
}

.button {
  width: fit-content;
  background-color: black;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  &:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
  }
}
